[Desktop Entry]
Name=MarkCaptain
Comment=Next generation markdown editor
Exec=markcaptain %F
Terminal=false
Type=Application
Icon=markcaptain
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=markcaptain;
StartupWMClass=markcaptain
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=markcaptain --new-window %F
Icon=markcaptain
