<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component
        Id="MarkdownFileIconRegistry"
        Guid="{92E85B18-1703-4533-9062-DF35EDC53A3B}"
        Win64="yes"
      >
        <RegistryValue
          Id="MarkdownMdDefaultIcon"
          Root="HKCR"
          Key="MarkCaptain.md\DefaultIcon"
          Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0"
          Type="string"
          KeyPath="yes"
        />
        <RegistryValue Id="MarkdownMarkdownDefaultIcon" Root="HKCR" Key="MarkCaptain.markdown\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMkdDefaultIcon" Root="HKCR" Key="MarkCaptain.mkd\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdownDefaultIcon" Root="HKCR" Key="MarkCaptain.mdown\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMkdnDefaultIcon" Root="HKCR" Key="MarkCaptain.mkdn\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdtxtDefaultIcon" Root="HKCR" Key="MarkCaptain.mdtxt\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdtextDefaultIcon" Root="HKCR" Key="MarkCaptain.mdtext\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownApplicationFriendlyName" Root="HKCR" Key="Applications\markcaptain.exe" Name="FriendlyAppName" Value="MarkCaptain" Type="string" />
        <RegistryValue Id="MarkdownApplicationDefaultIcon" Root="HKCR" Key="Applications\markcaptain.exe\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownApplicationOpenCommand" Root="HKCR" Key="Applications\markcaptain.exe\shell\open\command" Value="&quot;[INSTALLDIR]markcaptain.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMd" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".md" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMarkdown" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".markdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMkd" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".mkd" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdown" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".mdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMkdn" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".mkdn" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdtxt" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".mdtxt" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdtext" Root="HKCR" Key="Applications\markcaptain.exe\SupportedTypes" Name=".mdtext" Value="" Type="string" />
      </Component>
      <!--
        A previous installer can leave a per-user Applications ProgID behind.
        HKCU overrides the machine-wide HKCR entry, so update the installing
        user's registration too and repair stale Program Files/LocalAppData paths.
      -->
      <Component
        Id="MarkdownCurrentUserApplicationRegistration"
        Guid="{05D5BFF9-C0B2-47FF-AEA6-E8E1156008F8}"
        Win64="yes"
      >
        <RegistryValue Id="MarkdownCurrentUserApplicationFriendlyName" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe" Name="FriendlyAppName" Value="MarkCaptain" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationDefaultIcon" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" KeyPath="yes" />
        <RegistryValue Id="MarkdownCurrentUserApplicationOpenCommand" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\shell\open\command" Value="&quot;[INSTALLDIR]markcaptain.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMd" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".md" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMarkdown" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".markdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMkd" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".mkd" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdown" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".mdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMkdn" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".mkdn" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdtxt" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".mdtxt" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdtext" Root="HKCU" Key="Software\Classes\Applications\markcaptain.exe\SupportedTypes" Name=".mdtext" Value="" Type="string" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
